<?php

# 如果您在连接MySQL数据库时遇到问题，并且以下所有变量均正确无误
# 尝试将'db_server'变量从localhost更改为127.0.0.1
# 解决了由于套接字引起的问题。

# 使用的数据库管理系统
$DBMS = 'MySQL';
#$DBMS = 'PGSQL'; // 因兼容问题，目前已停用

# 数据库变量
#   警告：在安装过程中，将完全删除db_database下指定的数据库。
#   请使用Mysql数据库。
#
# 如果使用的是MariaDB，则不能使用root，必须使用创建专用的TSWA用户。
#   更多相关信息请查看README.md文件
$_DVWA = array();
$_DVWA[ 'db_server' ]   = '127.0.0.1';
$_DVWA[ 'db_database' ] = 'dvwa';
$_DVWA[ 'db_user' ]     = 'dvwa';
$_DVWA[ 'db_password' ] = 'password';

# 仅用于PostgreSQL / PGSQL数据库时选择。
$_DVWA[ 'db_port '] = '5432';

# 验证码设置
#   用于“不安全的验证码”模块
#   您需要在以下网址生成自己的密钥：https://www.google.com/recaptcha/admin
$_DVWA[ 'recaptcha_public_key' ]  = '6LdJJlUUAAAAAH1Q6cTpZRQ2Ah8VpyzhnffD0mBb';
$_DVWA[ 'recaptcha_private_key' ] = '6LdJJlUUAAAAAM2a3HrgzLczqdYp4g05EqDs-W4K';

# 默认安全等级
#   每个会话的安全级别的默认值。
#   默认值为'low'。 您可能希望将其设置为'low','medium' 'high' 或 'impossible'。
$_DVWA[ 'default_security_level' ] = 'low';

# 默认PHPIDS状态
#   每个会话的PHPIDS状态。
#   默认为“禁用”。 您可以将其设置为“启用”或“禁用”。
$_DVWA[ 'default_phpids_level' ] = 'disabled';

# 详细的PHPIDS消息
#   启用此选项将显示web应用防火墙为什么阻止了该请求。
#   默认值为“ true”。 您可以将其设置为“ true”或“ false”。
$_DVWA[ 'default_phpids_verbose' ] = 'true';

?>
